<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section
        name="MyDatas"
        type="System.Configuration.DictionarySectionHandler" />
    </configSections>
    <connectionStrings>
        <add name="MyProject01.Properties.Settings.TMSConnectionString"
            connectionString="Data Source=.;Initial Catalog=TMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="TMSEntities" connectionString="metadata=res://*/MyModel.csdl|res://*/MyModel.ssdl|res://*/MyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
  <MyDatas>
    <add key="NumberFormat" value="N0" />
    <add key="IntMaxLength" value="15" />
    <add key="DecMaxLength" value="14" />
    <add key="StartPosInDB" value="-1000" />
    <add key="NotSaveDB" value="0" />
    <add key="Insert" value="1" />
    <add key="Update" value="2" />
    <add key="GetManyItems" value="1" />
    <add key="GetOneItem" value="0" />
    <add key="Confirm" value="Đã xác nhận" />
    <add key="Unconfirm" value="Chưa xác nhận" />
    <add key="ConfirmValue" value="1" />
    <add key="UnconfirmValue" value="0" />
    <add key="Active" value="Còn hiệu lực" />
    <add key="Inactive" value="Hết hiệu lực" />
    <add key="ActiveValue" value="1" />
    <add key="InactiveValue" value="0" />
    <add key="MaxRecordNumber" value="7000" />
    <add key="ViewAll" value="*" />
    <add key="AccountNo" value="1" />
    <add key="AccountCo" value="-1" />
    <add key="CustTypeVip" value="1" />
    <add key="CustCodeLen" value="10" />
    <add key="ToaSat" value="1" />
    <add key="ToaSatName" value="Toa sắt" />
    <add key="TuThu" value="1" />
    <add key="DepartStation" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </MyDatas>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>